


body
{
    background-image: url("back.jpg");
    
    background-attachment: fixed;
    font-family: "Poppins", sans-serif;
    -webkit-background-size: cover ;
}
   




.Caminar

{
    color:white;
    text-decoration: none;
    font-size: 70px;

    
}

.koko1
{
    
    margin-top: 0px;
    margin-bottom: 0px;
}
.koko1 h1
{
    color:rgb(236, 234, 234) ;
    font-size: 65px;
    margin-left: 550px;
    margin-top: 130px;
    padding-bottom: 70px;
    margin-bottom: 0px;


}
.koko1 img 
{

    margin-left: 90px;
    color: rgb(128, 127, 127);
    
}

.koko2
{
    
    background-color: white;
    border-color: rgb(7, 0, 0) ;
    width: 1177px;
    height: 220px;
    margin-left: 90px;
    margin-bottom: 0px;
    margin-top: 0px;
    


}

.koko2 h2
{
    font-size:27px ;
    font-weight: bold;
    margin-left: 435px ;
    padding-top : 65px;
    margin-top: 0px;
    color: rgb(43, 42, 42);
    letter-spacing: 2px;




}
.koko2 h3
{
    font-weight: lighter;
    color: rgb(206, 195, 195);
    margin-left: 456px;
    font-size: 13px;
    letter-spacing: 3px;

}


.shaheen
{
    background-color:rgba(253, 246, 246, 0.932);
    
    width: 1177px ;
    height: 350px;
    margin-left :90px ;
    margin-top: 0px;
    padding-bottom: 65px;

}
.shaheen p
{
    margin-top: 0px;
    padding-top: 80px ;
    margin-left: 90px ;
    font-size: 17px;
    color: rgb(196, 188, 188);
    letter-spacing: .3px;
    



}
.final
{
color: rgb(12, 12, 12);
width: 1177px;
height: 2000px;
margin-left: 90px ;
background-color: rgb(34, 32, 32);
margin-top: 0px;
margin-bottom: 50px;

padding-top: 80px;
}
.kokozhgt
{
    margin-top: 6px;

background-color: black;
width: 980px;
height: 80px;
margin-left:110px ;

margin-top:0px ;

padding-top:20px ;

padding-bottom:54px ;

}
.kokozhgt h2
{
    color:rgb(214, 209, 209) ;
    font-size: 27px;
    text-align: center;
    font-weight: bold;
}

.kokozhgt h3
{
    color: rgba(172, 169, 169, 0.226);
    font-weight: lighter;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1.6px;

}

.flat1
{
    margin-left:110px ;
    display: inline;
    width: 490px;
    float: left;
}

.flat2
{
    display: inline;
    width: 490px;
    float: left;;
}


.flat3
{
    margin-left:110px ;
    display: inline;
    width: 490px;
    float: left;
}

.flat4
{
    display: inline;
    width: 490px;
    float: left;;
}
.flat5
{
 margin-top: 75px;
float: left;
display:inline;
width: 585px;
}

.bfinal1
{
    

background-color: rgb(238, 231, 231);
width: 585px;
height: 440px;
display: inline;
float: left;
margin-top: 75px;
padding-right:6.5px ;
font-family: "Poppins", sans-serif;

}

.bfinal1 h2
{

    padding-top: 130px;
    margin-left:80px ;
    font-size: 20px;
    }

.bfinal1 p
{
    padding-top: 3px;
    font-size: 16px;
    letter-spacing: .5px;
    line-height: 27px;
    margin-left:80px ;
    font-weight: lighter;
    color: rgba(112, 107, 107, 0.5);
}


.flat6
{
    float: right;
    overflow: hidden;

    display:inline;
    width: 592px;
    height:400px ;
    box-sizing: border-box;
    padding-right: 9px;
    overflow: hidden;

}

.cfinal
{
    
    background-color: rgba(128, 128, 128, 0);
    width: 585px;
    height: 400px;
    color: white;
    float: left;
    overflow: hidden;
    
    

 }
.cfinal h2
{
    text-align: right;
    margin-top: 60px ;
    margin-right: 90px ;
    font-size: 23px;
    
}
.cfinal p
{
    
    color: rgba(181, 181, 182, 0.411);
    font-size: 16px;
    text-align: right;
    margin-right: 90px ;
    line-height: 26px;


}

    
.flat7
{
    box-sizing: border-box;
    width: 585px;
    float: left;
    height: 442px;
    


}
.end
{
    background-color:rgb(240, 235, 235);
    width: 585px;
    float: right;
    overflow: hidden;
    height:442px;
    margin-left: 0px;
    padding-left: 6px;

}
.end h2
{
font-size: 15px;
margin-left: 55px;
margin-top: 40px;
font-size: 20px ;
padding-top: 100px ;

}

.end p
{
    font-size:16px;
    line-height: 25px;

    color: rgba(187, 178, 178, 0.733);
    margin-left: 80px;
}
 .blackline
 {
    
     text-align: center;
   
 }
 .blackline p
 {
     color:rgb(221, 214, 214) ;
     font-size: 16px ;
     letter-spacing: 1px;
     padding-bottom: 10px;
     display: flex;
     justify-content:center;
     padding-bottom: 50px;

     
 }
 .templete
 {
    color: rgb(247, 239, 239);
     font-size: 16px ;
 }
 .unsplash
 {
     
    color: rgb(247, 239, 239);
    font-size: 16px ;
 }
 .icons 
 {
    float:center;
    list-style: none;
    overflow: hidden;
    color: #000;
    display:flex;
    justify-content: center;
    align-items: flex-start;

 }
 .icons li
 {
    list-style: none;
    display: inline;
    padding: 10px 10px ;
    color:white ;
    position: relative;
    transition:.5s ;
    
 }
  hover .icon
 {

 }
.icons li a 
{
    margin-top: 0px;
    padding-left: 5px;
    font-size: 27px;
    color: white;
    
}












